<p id="notice"><%= notice %></p>

<p>
  <b>Cart:</b>
  <%= @purchase.cart_id %>
</p>

<p>
  <b>Ip address:</b>
  <%= @purchase.ip_address %>
</p>

<p>
  <b>First name:</b>
  <%= @purchase.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @purchase.last_name %>
</p>

<p>
  <b>Card type:</b>
  <%= @purchase.card_type %>
</p>

<p>
  <b>Card expires on:</b>
  <%= @purchase.card_expires_on %>
</p>


<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
